@font-face {
  font-family: "IranSans";
  src: url("../../font/IRANSansWeb.eot"); /* IE9 Compat Modes */
  src: url("../../font/IRANSansWeb.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../font/IRANSansWeb.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../../font/IRANSansWeb.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
