@import "./Modal.css";
@font-face {
  font-family: "IranSans";
  src: url("../../font/IRANSansWeb.eot"); /* IE9 Compat Modes */
  src: url("../../font/IRANSansWeb.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../font/IRANSansWeb.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../../font/IRANSansWeb.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
body {
  background-color: rgb(243, 243, 243);
  text-align: right;
  font-size: 14px;
  font-family: "IranSans";
  font-style: italic;
}

.maindiv{
  position: relative;
  width : 60%;
  height : 100vh;
  left : 20%;
  top : 10px;
  border-left: 1px rgb(158, 158, 158) solid;
  border-right: 1px rgb(158, 158, 158) solid;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 30px;
}


.navbar {
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #535353;
  color: white;
}


.navlink {
  margin-right: 10px;
  margin-bottom: 0px;
  color: antiquewhite;
  float: right;
}
.navlink:hover {
  margin-bottom: -4px;
  color: antiquewhite;
  border: white;
  border-width: 3px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  float: right;
}

#navbrand {
  position: relative;
  color: rgb(2, 41, 31);
  font-family: "IranSans";
  font-size: 30px;
  top: 5px;
  height: 5px;
  right:70%;
}
.header_right{
  position: relative;
  left: 50%;
}
.header_home_img {
  position: relative;
  bottom: 25px;
  left: 10px;
  width: 35px;
  height: 30px;
  filter: brightness(95%);
}


.home_text {
  color: black;
  text-shadow: 1px 1px 8px #000000;
  font-style: italic;
  font-size: 30px;
}

.searchbar {
  width: 100%;
  height: 100%;
}

#header {
  font-family: "IranSans";
  height: 35px;
  margin-bottom: 1px;
  font-size: 15px;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}


.searchBar {
  border-radius: 1px;
  position: relative;
  min-width: 350px;
  top: 15px;
  height: 43px;
  font-size: 16px;
  border-width: 2px;
  border-color: rgb(192, 191, 191);
  z-index: 0;
  background-color: white;
}

.searchItem
{
  width: 100%;
  min-height: 50px;
  height: max-content;
  font-size: 16px;
  font-display: right;
}
.searchButton{
  float: right;
  height: 40px;
  width: 10%;
  background-color: #00a1ab;
  border-radius: 5px;
  padding-right: 12px;
  padding-top: 5px;
  margin-top: 15px;
}